* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* nav-bar start */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
body{
    
}

header{
    margin-top: 10px;
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png) ;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

header nav{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

header .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.logo span{
    color: #FD6E0A;
}

header .menu a{
    align-items: center;
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn{
    font-size: 20px;
    height: 65px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 18px 35px;
    background-color: #FD6E0A;

}

/* nav-bar end */


/* hero part start */

#hero{
    /* border: 1px solid red; */
    margin-left: 14.38%;
    margin-right: 38px;
    margin-bottom: 161px;
    display: flex;
}

#hero .banner-content {
    margin-top: 182px;
    width: 585px;
}

.banner-hi{
    font-size: 45px;
    font-weight: 600;
    color: #757575;
}

.banner-name{
    font-size: 85px;
    font-weight: 700;
}

.banner-pera{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.banner-btn{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.banner-image{
    margin-left: 163px;
    width: full;  
    height: full;
    margin-top: 46px;
}
.banner-image img{
    width: 100%;
    height: 100%;
}