* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

/* nav-bar start */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
body{
    
    background-color: #fffefe;
}

header{
    margin-top: 10px;
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3 ;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

header nav{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

header .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    font-weight: 800;
}

.logo span{
    color: #FD6E0A;
}

header .menu a{
    align-items: center;
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn{
    font-size: 20px;
    height: 65px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 18px 35px;
    background-color: #FD6E0A;

}

/* nav-bar end */


/* hero part start */

#hero{
    /* border: 1px solid red; */
    margin-left: 14.38%;
    margin-right: 38px;
    margin-bottom: 161px;
    display: flex;
}

#hero .banner-content {
    margin-top: 182px;
    width: 585px;
}

.banner-hi{
    font-size: 45px;
    font-weight: 600;
    color: #757575;
}

.banner-name{
    font-size: 85px;
    font-weight: 700;
}

.banner-pera{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}

.banner-btn{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.banner-image{
    margin-left: 163px;
    width: full;  
    height: full;
    margin-top: 46px;
}
.banner-image img{
    width: 100%;
    height: 100%;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #FFF8F3;
    width: 1140px;
    height: 550px;
    margin: 130px 230px;
    padding: 131px 157px;
    text-align: center;
    
}



.section-heading h4{
    font-size: 35px;
    font-weight: 700;

}

.section-heading p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin: 30px 0;

}

.about-info{
    display: flex;
    gap: 50px;
    font-size: 16px;
}

.about-info p{
    color: #757575;
}

.about-info h4{
    color: #474747;
}

.title{
    font-size: 35px;
    font-weight: 700;
    color: #474747;

}

.pera{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 40px;
}

#ex-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2{
    /* border: 2px solid #FD6E0A; */
    width: 1140px;
    height: 550px;
    text-align: center;
    padding-top: ;
    padding-bottom: 130px ;
}

.cards{
    padding-top: 50px;
    display: flex;
    gap: 24px;
    justify-content: space-between;

}

.card{
    width: 267px;
    height: 377px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    text-align: left;
}

.card img{
    padding-top: 30px;
    padding-left: 30px;
}

.card h5{
    font-size: 20px;
    font-weight: 700;
    padding-top: 38px;
    padding-left: 30px;
}

.pp{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 38px 33px 30px 33px;
}